input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
}
input {
    width: 71px !important; /* was 47 */
    height: 19px !important; /* was 17 */
    /* margin: 0 0 1px; /* was 1px 0 0 */
    font-family: Lato;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000062;
    border-radius: 3px;
    box-shadow: 0 0.5px 1px 0 rgba(0, 0, 0, 0.2);
    border: solid 0.5px rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    margin-right: 8px;
}
.dayTypeSelector {
    width: 82px;
    height: 19px; /* was 24 */
    margin: 1px 0 0 0;
    font-family: Lato;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000062;
    background: url(../images/cap-copy-3.png) no-repeat right;
    -webkit-appearance: none;
    border: 1px solid #cccccc;
    /* margin-left: 25px; */
    text-align: center;
    float: right;
    margin-right: 24px;
    margin-left: 4px;
    padding-left: 5px;
}
.dayTypeSelector:after {
    content: " ";
    background: url(../images/cap-copy-3.png) no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    right: -6px;
    z-index: -1;
    top: 5px;
}
.officeHoursDiv {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 18px;
}
.office-hours-label {
    float: left;
    font-family: Lato;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #000062;
    margin: 3px 5px 0px 27px;
  }
.save-officehours {
  /* width: 100%; */
  /* display: flex;
  justify-content: center; */
  /* object-fit: fill; */
}
.savebtn-officehours {
  width: 130px;
  height: 33px;
  margin: 6px 20px 0 112px;
  border-radius: 8px;
  /* object-fit: fill; */
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 99, 0.06),
    rgba(1, 1, 63, 0.1)
  );
  font-family: Lato;
  font-size: 16px;
  /* text-align: center; */
  color: #000062;
  /* justify-content: center;
  vertical-align: center; */
}
.big-button-container {
    /* display: inline !important; */
    display: flex !important;
    margin-top: 10px;
}
.logout-btn {
  /* width: 211px;
  height: 33px; */
  width: 56px;
  height: 19px;
  /* border-radius: 8px; */
  outline: none !important;
  /* background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 99, 0.06),
    rgba(1, 1, 63, 0.1)
  ); */
  background: none;
  border: none !important;
  font-family: Lato;
  font-size: 16px;
  /* text-align: center; */
  color: #000062;
  margin: 14px 0 8px 10px;
  border-radius: 8px;
}
.logout-container {
  /* width: 100%; */
  /* justify-content: center; */
  /* margin: 25px 0px 21px 0px; */
}
.logout-btn:hover {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 99, 0.1),
    rgba(1, 1, 63, 0.16)
  );
}
.savebtn-officehours:hover {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 99, 0.1),
    rgba(1, 1, 63, 0.16)
  );
}
.logout-btn:active {
  border: solid 0.5px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 98, 0.06);
}
.savebtn-officehours:active {
  border: solid 0.5px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 98, 0.06);
}